<div class="modal-header">
    <button class="close" ng-click="$ctrl.dismiss({$value: 'cancel'})">
        <i class="fa fa-close"></i>
    </button>
    <h4 class="modal-title">{{'Tag Editor' | translate}}</h4>
</div>
<form name="tagForm" novalidate>
    <div class="modal-body">
        <div class="form-group" nk-validate="tagForm.name">
            <label class="control-label" for="name">
                {{'Name' | translate}} <span uib-rating ng-model="$ctrl.tag.rating"></span>
            </label>
            <input class="form-control" id="name" name="name" ng-model="$ctrl.tag.name" required
                   ng-pattern="/^.{3,64}$/">
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn btn-primary" ng-disabled="tagForm.$invalid || $ctrl.loading" ng-click="$ctrl.saveTag()">
                <i class="fa fa-save"></i> {{'Save' | translate}}
            </button>
            <button class="btn btn-danger" ng-disabled="$ctrl.loading" ng-if="$ctrl.tag.id"
                    nk-confirm="{{'Delete tag?' | translate}}" ng-click="$ctrl.removeTag()">
                <i class="fa fa-remove"></i> {{'Delete' | translate}}
            </button>
        </div>
    </div>
</form>