@import '../../bower_components/bootstrap/less/variables';

body {
  padding-top: 88px;
  overflow-x: hidden;
}

textarea {
  max-width: 100%;
}

.img-responsive {
  margin: 0 auto;
  width: 100%;
}

.nav, .pagination, .carousel, .panel-title a, [ng-click], [ui-sref], [nk-preview] {
  cursor: pointer;
}

.navbar-toggle {
  overflow: hidden;

  .icon-bar {
    transition: all .35s ease-out;
  }

  &:not(.collapsed) {
    .icon-bar {

      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }

      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

.panel {
  .panel-heading {
    display: flex;
    align-items: center;

    .panel-title {
      flex-grow: 1;
      &:not(:first-child) {
        margin-left: @panel-body-padding;
      }
      &:not(:last-child) {
        margin-right: @panel-body-padding;
      }
    }
  }
}

.notices {
  position: fixed;
  top: @alert-padding / 2;
  //right: 5px;
  //left: 5px;
  z-index: @zindex-modal + 1;
  padding: @alert-padding;
  display: none;

  @media (min-width: @screen-sm-min) {
    right: 25vw;
    left: 25vw;
  }
}