@import '../../bower_components/bootstrap/less/variables';

body {
  padding-top: 88px;
  overflow-x: hidden;
}

.img-responsive {
  margin: 0 auto;
  width: 100%;
}

.nav, .pagination, .carousel, .panel-title a, [ng-click], [nk-preview] {
  cursor: pointer;
}

.navbar-toggle {
  overflow: hidden;

  .icon-bar {
    transition: all .35s ease-out;
  }

  &:not(.collapsed) {
    .icon-bar {

      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }

      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}