<div class="well well-sm clearfix">
    <nk-search-form ng-model="$ctrl.params.fullname" ng-change="$ctrl.queryTags({fullname: $value})"></nk-search-form>
    <form name="filterForm" novalidate uib-collapse="!$ctrl.showFilter">
        <div class="form-group">
            <label for="limit" class="control-label">{{'Show on page' | translate}}</label>
            <div class="input-group input-group-sm">
                <select class="form-control" nk-convert-to-number ng-model="$ctrl.params.limit"
                        title="{{'Show on page' | translate}}" id="limit" name="limit"
                        ng-change="$ctrl.queryTags({limit: $ctrl.params.limit})">
                    <option value="10">10</option>
                    <option ng-repeat="limit in $ctrl.itemsPerPage" value="{{::limit}}">{{::limit}}</option>
                </select>
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="$ctrl.queryTags({limit: 10})">
                        <i class="fa fa-eraser"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <button class="btn btn-default btn-sm pull-right" ng-click="$ctrl.showFilter = !$ctrl.showFilter"
            title="{{'Filter' | translate}}">
        {{'Additional params' | translate}} <i ng-class="'fa fa-arrow-' + ($ctrl.showFilter ? 'up' : 'down')"></i>
    </button>
</div>

<table class="table table-hover" ng-if="$ctrl.tags.rows.length > 0">
    <thead>
    <tr>
        <th class="hidden-xs">Id</th>
        <th>{{'Name' | translate}}</th>
        <th class="hidden-xs hidden-sm">{{'Documents' | translate}}</th>
        <th>
            <button class="btn btn-default btn-xs" ng-click="$ctrl.showTagModal(0)">
                <i class="fa fa-plus"></i>
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tag in $ctrl.tags.rows track by tag.id">
        <td class="hidden-xs">{{::tag.id}}</td>
        <td>{{tag.name}}</td>
        <td class="hidden-xs hidden-sm">
            <span ng-repeat="document in tag.documents track by $index">
                {{document.name}}<small ng-if="tag.documents.length > $index + 1">, </small>
            </span>
        </td>
        <td>
            <button class="btn btn-default btn-xs" ng-click="$ctrl.showTagModal(tag.id)">
                <i class="fa fa-pencil"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="alert alert-info" ng-if="$ctrl.tags.rows.length == 0">
    <i class="fa fa-info"></i> {{'Tags not found' | translate}}
    <a href="#" ng-click="$ctrl.showTagModal(0)"><i class="fa fa-plus"></i></a>
</div>

<div uib-pager data-ng-model="$ctrl.params.page" ng-change="$ctrl.queryTags({page: $ctrl.params.page})"
     total-items="$ctrl.tags.count" items-per-page="$ctrl.params.limit"></div>