<div class="modal-header">
    <button class="close" ng-click="$ctrl.dismiss({$value: 'cancel'})">
        <i class="fa fa-close"></i>
    </button>
    <h4 class="modal-title">{{'User Editor' | translate}}</h4>
</div>
<form name="userForm" novalidate>
    <div class="modal-body">
        <div class="alert alert-danger" ng-if="$ctrl.errorMessage">
            <i class="fa fa-warning"></i> {{$ctrl.errorMessage}}
        </div>
        <div class="form-group" nk-validate="userForm.fullname">
            <label class="control-label" for="fullname">{{'Fullname' | translate}}</label>
            <input class="form-control" id="fullname" name="fullname" ng-model="$ctrl.user.fullname" required
                   ng-pattern="/^.{3,128}$/">
        </div>
        <div class="form-group" nk-validate="userForm.phone">
            <label class="control-label" for="phone">{{'Phone' | translate}}</label>
            <input class="form-control" id="phone" name="phone" ng-model="$ctrl.user.phone" ui-mask="+7 (999) 999-99-99">
        </div>
        <div class="form-group">
            <label class="control-label" for="bornAt">{{'Birthday' | translate}}</label>
            <input type="date" class="form-control" id="bornAt" name="bornAt" ng-model="$ctrl.user.bornAt">
        </div>
        <div class="checkbox">
            <input type="checkbox" id="private" ng-model="$ctrl.user.isAdmin"
                   ng-disabled="$ctrl.currentUser.id == $ctrl.user.id">
            <label for="private">{{'Administrator' | translate}}</label>
        </div>
        <div class="row" ng-if="$ctrl.currentUser.id == $ctrl.user.id || $ctrl.currentUser.isAdmin">
            <div class="col-sm-6" ng-if="!$ctrl.user.id || $ctrl.currentUser.isAdmin">
                <div class="form-group" nk-validate="userForm.username">
                    <label class="control-label" for="username">{{'Username' | translate}}</label>
                    <input type="text" class="form-control" id="username" name="username"
                           ng-model="$ctrl.user.localUser.username"
                           ng-required="!$ctrl.user.id || $ctrl.currentUser.isAdmin" ng-pattern="/^.{1,64}$/">
                </div>
            </div>
            <div class="col-sm-6" ng-if="!$ctrl.currentUser.isAdmin || !$ctrl.user.id">
                <div class="form-group" nk-validate="userForm.password">
                    <label class="control-label" for="password">{{'Password' | translate}}</label>
                    <input type="password" class="form-control" id="password" name="password"
                           ng-model="$ctrl.user.localUser.password" ng-pattern="/^.{1,64}$/"
                           ng-required="!$ctrl.currentUser.isAdmin || !$ctrl.user.id">
                </div>
            </div>
            <div class="col-sm-6" ng-if="$ctrl.user.id">
                <div class="form-group" nk-validate="userForm.newPassword">
                    <label class="control-label" for="newPassword">{{'New password' | translate}}</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           ng-model="$ctrl.user.localUser.newPassword" ng-pattern="/^.{1,64}$/">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn btn-primary" ng-disabled="userForm.$invalid || $ctrl.loading"
                    ng-click="$ctrl.saveUser()">
                <i class="fa fa-save"></i> {{'Save' | translate}}
            </button>
            <button class="btn btn-danger" ng-disabled="$ctrl.loading"
                    ng-if="$ctrl.user.id && $ctrl.currentUser.id != $ctrl.user.id && !$ctrl.user.deletedAt"
                    nk-confirm="{{'Delete user?' | translate}}" ng-click="$ctrl.removeUser()">
                <i class="fa fa-remove"></i> {{'Delete' | translate}}
            </button>
            <button class="btn btn-info" ng-disabled="userForm.$invalid || $ctrl.loading"
                    ng-if="$ctrl.user.deletedAt" nk-confirm="{{'Restore user?' | translate}}"
                    ng-click="$ctrl.restoreUser()">
                <i class="fa fa-undo"></i> {{'Restore' | translate}}
            </button>
        </div>
    </div>
</form>